<section class="section">
    <div class="vector"></div>
    <div class="wrapper">
        <h2>NOSOTROS</h2>
        <hr>
        <div class="grid-pague">
            <div class="elementos">
                <p>Somos una Empresa moderna, experta y confiable que brinda a sus clientes soluciones integrales de servicios, y hacemos que tus problemas se conviertan en oportunidades de mejora, ya que sabemos solucionarlos, hacerlo de la mejor manera
                    y de acuerdo a tu necesidad y requerimiento.</p>
            </div>
            <div class="elementos">
                <img src="../../../assets/img/img1.PNG" alt="">
            </div>
        </div>
    </div>
</section>
<app-nosotros-card></app-nosotros-card>
<app-nosotros-mis-vis></app-nosotros-mis-vis>