<header class="header">
    <div class="wrapper">
        <div class="header__content">
            <h1 class="header__logo"> <i class="fas fa-handshake"></i>BRANARO</h1>
            <input type="checkbox" id="menu" class="menu__checkbox">
            <ul class="menu">
                <li class="menu__item">
                    <a href="">Inicio</a>
                </li>
                <li class="menu__item">
                    <a href="">Nosotros</a>
                </li>
                <li class="menu__item">
                    <a href="">Servicios</a>
                </li>
                <li class="menu__item">
                    <a href="">Contactos</a>
                </li>
            </ul>
            <label for="menu" class="menu__button"></label>
        </div>
    </div>
</header>
<app-inicio></app-inicio>
<app-nosotros></app-nosotros>
<app-servicios></app-servicios>
<!-- <app-footer></app-footer> -->