<section class="section">
    <div class="vector"></div>
    <div class="wrapper">
        <h3>MAPA DE CONVERTURA</h3>
        <hr>
        <div class="group">
            <form action="">
                <div class="elemento">
                    <select class="form-control">
                        <option selected="selected">SELECCIONE UNA PROVINCIA</option>
                        <option >Lima</option>
                        <option >Callao</option>
                      </select>
                </div>
                <div class="elemento">
                    <button>Buscar</button>
                </div>
            </form>
        </div>
        <div>
            <div class="mapa-covertura">
                <p>mapa covertura</p>
            </div>
        </div>
    </div>
</section>