<section class="section">
    <div class="wrapper">
        <h2>CONTACTOS</h2>
        <hr>
        <p class="title">Estamos listos para trabajar contigo</p>
        <p class="description">Estamos preparados para atender cualquier duda y asesorarte en las decisiones sobre los productos que más te conviene adquirir. Tenemos más de N años en el mercado dejando clientes satisfechos. Contáctanos y un asesor te atenderá.</p>
        <div class="group-form">
            <div class="grid">
                <div class="elemento contact">
                    <div class="flex">
                        <div class="elemento icons">
                            <ul class="group-icons">
                                <div class="elemento-flex">
                                    <div>
                                        <i class="fas fa-phone-alt"></i>
                                    </div>
                                    <div>
                                        <p class="title-card">Solicita una cotización</p>
                                        <p class="sub-title-card">No dude en llamarnos (XX) XXX-XXXX lunes a domingo 9am - 7pm</p>
                                    </div>
                                </div>
                                <div class="elemento-flex">
                                    <div>
                                        <i class="fas fa-envelope"></i>
                                    </div>
                                    <div>
                                        <p class="title-card">Envia tu consulta</p>
                                        <p class="sub-title-card">Escríbenos a nombre@correo.com y un asesor te atenderá.</p>
                                    </div>
                                </div>
                                <div class="elemento-flex">
                                    <div>
                                        <i class="fas fa-map-marked-alt"></i>
                                    </div>
                                    <div>
                                        <p class="title-card">Visítanos</p>
                                        <p class="sub-title-card">en Jr. Cayalti 334, Surco.</p>
                                    </div>
                                </div>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="elemento form">
                    <p class="title-form">¿Como podemos ayudarte?</p>
                    <form action="">
                        <div class="form-group">
                            <div class="form-control">
                                <input type="text" placeholder="Nombre">
                            </div>
                            <div class="form-control">
                                <input type="text" placeholder="Telefono">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-control">
                                <input type="text" placeholder="Email">
                            </div>
                            <div class="form-control">
                                <input type="text" placeholder="Empresa">
                            </div>
                        </div>
                        <div class="form-control">
                            <textarea type="text" placeholder="Mensaje"></textarea>
                        </div>
                        <div class="form-control">
                            <button>Enviar</button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</section>