.section {
    position: relative;
    background: #fff;
}

.vector {
    margin-top: -100px;
    content: "";
    display: block;
    position: absolute;
    left: 0px;
    right: 0px;
    background-size: 100% !important;
    -webkit-mask-size: 100% !important;
    background: url(../../../../assets/img/vector-desktop-white.svg) center top no-repeat;
    height: 100px;
}

h3 {
    font-family: 'Public Sans', sans-serif;
    margin-bottom: 10px;
}

.wrapper {
    padding: 0 15px;
    padding-bottom: 50px;
}

hr {
    height: 10px;
    width: 155px;
    margin: 0px;
    background-color: #F4A261;
    border-radius: 25px;
    border: 0px;
}

.grid {
    padding-top: 30px;
    display: grid;
    grid-template-columns: 12fr;
    grid-gap: 20px;
}

.card {
    margin: 10px 0;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    position: relative;
    display: flex;
}

.card .sub-grid {
    display: flex;
    flex-direction: column;
}

.card img {
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}

.card .titulo,
.descripcion {
    padding: 5px 10px;
}

.card .titulo {
    color: #F4A261;
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 3px;
    margin-bottom: 0px;
}

.card .descripcion {
    font-size: 0.85rem;
    margin-top: 2px;
}

.card .x-icon-button {
    opacity: 1;
    transform: scale(1);
    position: absolute;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 0px;
    background: red;
    background-image: url('../../../../assets/img/icon/check.svg');
    background-repeat: no-repeat;
    background-position: center;
    right: -10px;
    top: -23px;
    transition: opacity 0.2s ease-out, transform 0.2s ease-out;
    /* cursor: pointer; */
    transform: scale(1.2);
}

@media screen and (min-width: 425px) {
    .grid {
        grid-template-columns: 6fr 6fr;
    }
    .wrapper {
        max-width: 1140px;
        margin: auto;
    }
}

@media screen and (min-width: 768px) {
    h3 {
        font-size: 2rem;
    }
    hr {
        width: 260px;
    }
}

@media screen and (min-width: 768px) {
    .vector {
        margin-top: -330px;
        content: "";
        display: block;
        position: absolute;
        left: 0px;
        right: 0px;
        background-size: 100% !important;
        -webkit-mask-size: 100% !important;
        background: url(../../../../assets/img/vector-desktop-white.svg) center top no-repeat;
        height: 330px;
    }
    .card .sub-grid {
        display: flex;
        flex-direction: row;
    }
    .card img {
        border-radius: 10px 0px 0px 10px;
        height: 100%;
    }
}