<section class="section">
    <div class="wrapper">
        <h3>MISION</h3>
        <hr>
        <div class="grid">
            <div class="card">
                <div class="sub-grid">
                    <div class="elemento">
                        <img src="../../../../assets/img/paper-business-finance-3213924.webp" alt="">
                    </div>
                    <div class="elemento">
                        <p class="title">MISION</p>
                        <div class="hr-title"></div>
                        <p class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                            specimen book.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper">
        <h3>VISION</h3>
        <hr>
        <div class="grid">
            <div class="card">
                <div class="sub-grid">
                    <div class="elemento">
                        <img src="../../../../assets/img/paper-business-finance-3213924.webp" alt="">
                    </div>
                    <div class="elemento">
                        <p class="title">VISION</p>
                        <div class="hr-title"></div>
                        <p class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                            specimen book.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>