<section class="section">
    <div class="wrapper">
        <h2>BRANARO</h2>
        <hr>

        <div class="group-icons">
            <ul class="icons">
                <a href=""><i class="fab fa-facebook-f"></i></a>
                <a href=""><i class="fab fa-instagram"></i></a>
                <a href=""><i class="fab fa-youtube"></i></a>
                <a href=""><i class="fab fa-google-plus-g"></i></a>
                <a href=""><i class="fab fa-whatsapp"></i></a>
            </ul>
        </div>
        <p>@ TODOS LOS DERECHOS RESERVADOS</p>
    </div>
</section>