<section>
    <div class="wrapper">
        <div class="grid">
            <p>CONTACTOS</p>
            <P>+51 958-746-514</P>
            <a href=""> Solicita contacto</a>
            <div class="redes-sociales">

            </div>
        </div>
        <hr>
        <p>Copyright © SoftExpert Software for Performance Excellence. All trademarks, trade names, service marks, and logos referenced herein belong to their respective companies.</p>
        <a href="">politica de privacidad</a>
    </div>
</section>